/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Page Name 1
*/

/* -----------------------------------------
   Page Name 1
----------------------------------------- */

#content {
  margin-top: 2em;
}

#content {
  box-shadow: -5px 0px #eeeeee;
}

h2 small {
  opacity: .4;
}

hr + div.post {
  box-shadow: -5px 0px #2ba6cb;
}

div.post {
  border-bottom: 1px solid #EBF2FC;
  padding: 0 0 10px 10px;
  margin-bottom: 15px;
}

#sidebar {
  text-align: center;
}

#sidebar img {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;

  margin-top: 3em;
  margin-bottom: 1em;
  opacity: .2;
  height: 200px;
}

#sidebar img:hover {
  opacity: .8;
}

#footer p {
  text-align: center;
  font-size: .75em;
}

.quote {
  display: none;
}

.quote span {
  font-style: italic;
}