/* Artfully masterminded by ZURB  */

/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------
:: Page Name 1
*/

/* -----------------------------------------
   Page Name 1
----------------------------------------- */

#content {
  margin-top: 2em;
}

#content {
  box-shadow: -5px 0px #eeeeee;
}

h2 {
  font-family: 'Varela Round', sans-serif;
  text-align: center;
  margin-top: 3em;
  margin-bottom: 1em;
}

#command-line h2 {
  margin-top: 2em;
  margin-bottom: 0em;
}

#command-line h4 {
  text-align: center;
  font-style: italic;
  margin-bottom: 1em;
}

#command-line p {
  line-height: 1.7em;
}

.links {
  text-align: center;
  margin: 2em 0;
}

#guava {
  background: url('../img/header_background.png');
  color: white;
  padding: 1px 2px;
}

#footer p {
  text-align: center;
  font-size: .75em;
}

.quote {
  display: none;
  font-style: italic;
}

.quote span {
  font-style: normal;
  font-weight: bold;
}

a {
  color: rgb(240, 73, 95);
}

a:hover {
  color: rgb(214, 24, 85);
}

p, ul {
  font-family: 'Belgrano', Georgia, serif;
}
