@import "tailwindcss";

@theme {
  --color-surface-container: #1e2024;
  --color-on-primary-fixed: #00210b;
  --color-on-tertiary: #20333c;
  --color-error: #ffb4ab;
  --color-on-primary: #121a24;
  --color-primary-container: #50b850;
  --color-on-surface-variant: #9aaabb;
  --color-outline-variant: #3b4b3c;
  --color-surface-container-highest: #333539;
  --color-on-tertiary-fixed-variant: #364953;
  --color-surface-container-low: #1a1c20;
  --color-tertiary-container: #cde1ee;
  --color-surface-dim: #111317;
  --color-inverse-on-surface: #2f3035;
  --color-on-secondary-container: #121a24;
  --color-on-secondary: #121a24;
  --color-on-primary-container: #0a0a0a;
  --color-error-container: #93000a;
  --color-on-secondary-fixed: #370e00;
  --color-surface-bright: #37393e;
  --color-background: #111317;
  --color-inverse-primary: #3a8a3a;
  --color-tertiary: #f7fbff;
  --color-on-error-container: #ffdad6;
  --color-secondary-container: #d07030;
  --color-on-surface: #d0d8e0;
  --color-secondary-fixed-dim: #f09040;
  --color-inverse-surface: #d0d8e0;
  --color-primary: #d0d8e0;
  --color-surface-tint: #50b850;
  --color-primary-fixed-dim: #50b850;
  --color-tertiary-fixed-dim: #b5cad6;
  --color-on-error: #690005;
  --color-surface-variant: #333539;
  --color-secondary: #f09040;
  --color-surface-container-lowest: #0c0e12;
  --color-outline: #607888;
  --color-on-tertiary-container: #4a8a9a;
  --color-on-tertiary-fixed: #0a1e27;
  --color-on-primary-fixed-variant: #3a7a3a;
  --color-on-background: #d0d8e0;
  --color-on-secondary-fixed-variant: #803010;
  --color-tertiary-fixed: #d1e6f2;
  --color-secondary-fixed: #f09040;
  --color-surface: #111317;
  --color-primary-fixed: #50b850;
  --color-surface-container-high: #282a2e;

  --font-headline: "Space Grotesk", sans-serif;
  --font-body: "Space Grotesk", sans-serif;
  --font-label: "Space Grotesk", sans-serif;
  --font-mono: "JetBrains Mono", "Courier New", monospace;

  --radius: 0.125rem;
  --radius-lg: 0.25rem;
  --radius-xl: 0.5rem;
  --radius-full: 0.75rem;
}

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
  vertical-align: middle;
}

body {
  font-family: "Space Grotesk", sans-serif;
}
