---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home">
	<section class="intro">
		<h1>Who am I?</h1>
		<p>
Hello, I'm Guilherme Carvalho, a Staff Engineer at VTEX. Co-founder of <a href="https://guava.software/">Guava</a>, a Ruby/Rails development studio.
			Computer Science graduate from UFPE (Universidade Federal de Pernambuco).
			Master's degree on ensemble methods for machine learning from UFPE.
		</p>
	</section>
</Layout>

<style>
	.intro {
		max-width: 650px;
	}

	.intro h1 {
		color: var(--accent-color);
		font-family: var(--font-mono);
		font-size: 1.75rem;
		margin-bottom: 2rem;
	}

	.intro p {
		margin-bottom: 1.5rem;
		line-height: 1.8;
		font-size: 1.05rem;
	}

	.intro p:last-child {
		margin-bottom: 0;
	}
</style>
